[Unit]
After=network.target
Description=Video Downloader bot

[Service]
Type=simple
WorkingDirectory=/root/vid_savebot
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target